@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}


/*


NAV BAR


*/


.logo {
    height: 150px;
    padding-left: 32px;
}

nav {
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav_container {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    justify-content: flex-start;
}

.nav__link {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    padding-left: 32px;
}

.nav__link--primary {
    color: rgb(243, 201, 12);
}

.nav__link--style:hover {
    color: rgb(243, 201, 12);
}

.nav__link:after {
	content: '';
	display: block;
	margin: auto;
	height: 4px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.nav__link:hover:after {
	width: 100%;
	background: rgb(243, 201, 12);
}


/*


FOOTER


*/


footer {
    background-color: black;
    height: 150px;
    
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer__pic--pic {
    height: 64px;
}


/*


LANDING PAGE 


*/


.header__container {
    height: calc(100vh - 150px);
    background: linear-gradient(-45deg, #d4a41e, #ecba31, #9e630a);
    background-size: 999% 999%;
    animation: gradient 10s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header__h1 {
    font-size: 64px;
}

.header__p1 {
    font-size: 24px;
    font-weight: bold;
}

.header__pic {
    padding-left: 128px;
}

.header__pic--pic {
    height: 500px;
}

@keyframes floating {
    from {
      transform: translate(0, 0px);
    }
    65% {
      transform: translate(0, 15px);
    }
    to {
      transform: translate(0, -0px);
    }
}

.floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


/*


LANDING PAGE __ ABOUT US


*/


.about__container {
    background-color: rgb(5, 5, 5);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__text {
    flex-direction: column;
    text-align: center;
    padding-left: 48px;
}

.about__h1 {
    font-size: 64px;
}

.about__p1 {
    font-size: 24px;
    width: 400px;
}

.about__pic {
    padding-left: 32px;
}

.about__pic--pic {
    height: 345px;
}


/*


LANDING PAGE __ DISCORD


*/


.discord__container {
    height: 50vh;
    background: linear-gradient(-45deg, #d4a41e, #ecba31, #9e630a);
    background-size: 999% 999%;
    animation: gradient 20s ease infinite;
}

.discord__text {
    text-align: center;
    padding-top: 32px;
}

.discord__h1 {
    font-size: 64px;
}


/*


LANDING PAGE __ SPONSOR 


*/


.sponsor__container {
    background-color: rgb(5, 5, 5);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsor__text {
    flex-direction: column;
    text-align: center;
    padding-left: 48px;
}

.sponsor__h1 {
    font-size: 64px;
}

.sponsor__p1 {
    font-size: 24px;
    width: 400px;
}

.sponsor__pic {
    padding-left: 32px;
}

.sponsor__pic--pic {
    height: 250px;
}



/*


ROSTER PAGE 


*/


#roster {
    background-color: rgb(32, 31, 31);
}

.roster_container {
    background-color: rgb(32, 31, 31);
    height: 100vh;
}


/*


MOBILE, LATPOP REPONSE 


*/


@media (max-width: 1590px) {
    .header__container {
        height: calc(100vh - 200px);
        flex-direction: column;
        text-align: center;
    }

    .header__pic {
        display: flex;
        justify-content: center;
        padding-right: 128px;
        max-height: 300px;
    }

    .header__pic--pic {
        max-height: 100%;
    }
}

@media (max-width: 1080px) {
    .header__container {
        height: calc(100vh - 200px);
        flex-direction: column;
        text-align: center;
    }

    .header__pic {
        display: flex;
        justify-content: center;
        padding-right: 128px;
        max-height: 300px;
    }

    .header__pic--pic {
        max-height: 100%;
    }

    .about__h1 {
        font-size: 64px;
    }

    .about__p1 {
        font-size: 16px;
    }

    .about__pic--pic {
        height: 250px;
    }

    .sponsor__text {
        padding-bottom: 32px;
    }

    .sponsor__h1 {
        font-size: 64px;
    }

    .sponsor__p1 {
        font-size: 16px;
    }

    .sponsor__pic--pic {
        height: 200px;
    }
}

@media (max-width: 870px) {
    .logo {
        height: 125px;
    }

    .nav__link {
        display: none;
    }

    .header__container {
        height: calc(100vh - 200px);
        flex-direction: column;
        text-align: center;
    }

    .header__pic {
        display: flex;
        justify-content: center;
        max-height: 300px;
    }

    .header__pic--pic {
        max-height: 100%;
    }

    .about__container {
        flex-direction: column;
    }

    .about__pic--pic {
        height: 250px;
    }

    .about__h1 {
        font-size: 64px;
    }

    .about__p1 {
        font-size: 16px;
    }

    .sponsor__container {
        flex-direction: column;
    }

    .sponsor__text {
        padding-bottom: 32px;
    }

    .sponsor__h1 {
        font-size: 64px;
    }

    .sponsor__p1 {
        font-size: 16px;
    }

    .sponsor__pic--pic {
        height: 200px;
    }

}

@media (max-width: 575px) {
    .logo {
        height: 100px;
    }

    .nav__link {
        display: none;
    }

    .header__container {
        height: calc(100vh - 200px);
        flex-direction: column;
        text-align: center;
    }

    .header__h1 {
        font-size: 40px;
    }

    .header__p1 {
        font-size: 20px;
    }

    .header__pic {
        display: flex;
        justify-content: center;
        padding-right: 128px;
        max-height: 300px;
    }

    .header__pic--pic {
        height: 175px;
    }

    .about__container {
        flex-direction: column;
    }

    .about__text {
        padding-right: 48px;
    }

    .about__pic--pic {
        padding-right: 16px;
        height: 200px;
    }

    .about__h1 {
        font-size: 40px;
    }

    .about__p1 {
        font-size: 14px;
        width: 300px;
    }

    .sponsor__container {
        flex-direction: column;
    }

    .sponsor__text {
        padding-bottom: 32px;
        padding-right: 48px;
    }

    .sponsor__h1 {
        font-size: 40px;
    }

    .sponsor__p1 {
        font-size: 14px;
        width: 300px;
    }

    .sponsor__pic--pic {
        height: 150px;
        padding-right: 48px;
    }

    .discord__container {
        flex-direction: column;
    }

    .discord__h1 {
        font-size: 36px;
    }

    .footer__pic--pic {
        height: 50px;
    }

    .footer__p1 {
        font-size: 14px;
    }

    .footer__author {
        font-size: 12px;
    }
}