@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

/*

Animations

*/

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

/* 

Global


*/

p {
  font-size: 18px;
}

h2 {
  font-size: 42px;
}

/*

Navigation

*/

.logo {
  width: 150px;
  background-color: black;
}

nav {
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 32px;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: black;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__links--primary {
  border-radius: 26px;
  border: 2px solid #ffffff;
  height: 36px;
  list-style: none;
}

.nav__links {
  list-style: none;
  padding-left: 16px;
}

a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 0 16px;
}

a:hover {
  color: rgb(243, 201, 12);
}

/*

Header

*/

.header__container {
  height: calc(100vh - 150px);
  background-color: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
}

.header__h1 {
  font-size: 60px;
}

.header__p1 {
  font-size: 26px;
  font-weight: bold;
}

/*

About

*/

.about__container {
  background-color: rgb(88, 6, 6);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__title {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding-right: 100px;
}

.about__pic--pic {
  width: 650px;
  height: 450px;
}

/*

Discord

*/

.discord__container {
  background-color: rgb(5, 5, 5);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discord__p {
  padding-bottom: 32px;
}

.discord__pic--pic {
  width: 400px;
}

.discord__btn {
  background-color: white;
  color: black;
  font-size: 24px;
  text-align: center;
}

.discord__btn:hover {
  color: rgb(5, 121, 15);
}

/*

Filleer

*/

.sponsor__container {
  background-color: rgb(88, 6, 6);
  height: 60vh;
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor__title {
  max-width: 500px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
}

.sponsor__subheading {
  display: flex;
  justify-content: space-around;
}

.sponsor_catacylsm {
  padding-left: 64px;
  padding-right: 32px;
}

/*

Footer

*/

footer {
  background-color: black;
  padding: 50px;
  text-align: center;
}

.footer__logo {
  padding-bottom: 32px;
}

.author {
  font-size: 12px;
}

/*

Roster

*/

.roster__container {
  background-color: rgb(88, 6, 6);
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
}

.roster__title {
  padding-top: 100px;
}

.roster__leader--h2 {
  padding-top: 32px;
}

.roster_players {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
